:root {
  /* ===== Colors ===== */
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal-color: #2e2f42;
  --grey-color: #2e2f42;
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* ===== Reusable CSS =====  */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 48px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue-color);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* ===== HEADER ===== */

.header {
  border-bottom: 1px solid var(--cornflower-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header a {
  display: inline-block;
  padding: 24px 0;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.27;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  margin-right: 76px;
}

.header .logo-span {
  color: var(--navy-blue-color);
}

.nav-list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contact-list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.nav-list .link:is(:hover, :focus),
.contact-list .link:is(:hover, :focus) {
  color: var(--ocean-color);
}

/* ===== MAIN ===== */

.navy-blue-bg {
  background-color: var(--navy-blue-color);
}

.hero {
  padding: 188px 0;
}

.hero .container {
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  /* text-align: center; */

  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;

  display: block;
  margin: 0 auto;
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--ocean-color);
}

/* ===== Advantages section ===== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list .item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* ===== What we are doing section ===== */

.projects {
  padding-top: 60px;
}

.projects-list {
  display: flex;
  gap: 24px;
}

.projects-list .item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.projects .text {
  color: var(--slate-color);
}

/* ===== Our Team section ===== */

.cloud-bg {
  background-color: var(--cloud-color);
}

.white-bg {
  background-color: var(--white-color);
}

.our-team-list .item {
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.our-team-list .wrapper {
  padding: 32px 16px;
}

.our-team-list .item-title {
  text-align: center;
}

.our-team-list .text {
  text-align: center;
}

/* ===== FOOTER ===== */

.footer {
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-span {
  color: var(--cloud-color);
}

.footer .text {
  color: var(--cloud-color);
  max-width: 264px;
}

/* ===== PORTFOLIO Page ===== */

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-list-item {
  border: none;
}

.portfolio {
  padding-top: 96px;
}

.portfolio .list .button {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  padding: 12px 24px;
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio .list .button:is(:hover, :focus) {
  color: var(--white-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
}

.portfolio .card-list {
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio .wrapper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.portfolio .card-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio .card-text {
  color: var(--slate-color);
}
